.logo-sidebar {
    height: 50px;
    margin-top: 5px;
}

.logo-sidebar.logo-sidebar-collapsed {
    width: 25px;
    height: auto;
    margin-top: 0px;
}

@media (max-width:992px) {
    .logo-sidebar {
        height: 30px;
        margin-top: 0px;
    }
}