{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}
<title>APOCA - Cadastro Auxílio</title>
{% endblock %}

{% block content %}
    {% include 'utilitarios/mensagens.html' %}

    <div class="card overflow-hidden">
        {% include 'utilitarios/cabecalho.html' with titulo='Cadastro de fornecimento de auxílio ' imagem="/static/assets/images/profile-img.png" %}

        <div class="card-body">
            {% crispy form %}
        </div>
    </div>
    {% include 'utilitarios/modal_cancelamento.html' %}
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
    <script src="{% static 'javascript/custom_auxilio.js' %}"></script>
{% endblock %}
