{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
    <title>APOCA - Desenvolvedores</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/denilson.jpg' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Denilson Fagundes Barbosa</h5>
                            <p class="text-muted mb-4">Professor no Instituto Federal de Santa Catarina <br /><br /> Coordenador do projeto</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-primary">Coordenação</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-warning">Frontend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-info">Backend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-success">Análise</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-secondary">Testes</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/alexandre.png' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Alexandre Augusto Alberto Moreira de Abreu</h5>
                            <p class="text-muted mb-4">Professor no Instituto Federal de Santa Catarina <br /><br /> Coordenador do projeto</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-primary">Coordenação</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-warning">Frontend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-info">Backend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-success">Análise</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-secondary">Testes</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/daniel.png' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Daniel Wzoreck</h5>
                            <p class="text-muted mb-4">Aluno do quarto semestre em Análise e Desenvolvimento de Sistemas <br /><br /><br /> Discente Bolsista em 2020</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-warning">Frontend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-success">Análise</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/eduardo.png' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Eduardo Henrique de Oliveira</h5>
                            <p class="text-muted mb-4">Aluno do quarto semestre em Análise e Desenvolvimento de Sistemas <br /><br /> Discente Bolsista em 2020</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-warning">Frontend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-info">Backend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-success">Análise</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-secondary">Testes</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/tiago.jpg' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Tiago da Silveira Padilha</h5>
                            <p class="text-muted mb-4">Aluno do sexto semestre em Análise e Desenvolvimento de Sistemas <br /><br /> Discente Voluntário em 2020</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-warning">Frontend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-info">Backend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/mateus.jpg' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Mateus Ferreira de Souza</h5>
                            <p class="text-muted mb-4">Aluno do sexto semestre em Análise e Desenvolvimento de Sistemas <br /><br /> Discente Voluntário em 2020</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-warning">Frontend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-info">Backend</span>
                        </li>
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/bruno.jpg' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Bruno Perdoná</h5>
                            <p class="text-muted mb-4">Aluno do segundo semestre em Análise e Desenvolvimento de Sistemas <br /><br /> Discente Voluntário em 2020</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-secondary">Testes</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="avatar-md profile-user-wid mt-1 mr-4">
                            <img class="img-thumbnail avatar-md rounded-circle" src="{% static 'images/equipe/maher.jpeg' %}" alt="Foto Perfil">
                        </div>

                        <div class="media-body overflow-hidden">
                            <h5 class="text-truncate font-size-15">Maher Daoud</h5>
                            <p class="text-muted mb-4">Aluno do segundo semestre em Análise e Desenvolvimento de Sistemas <br /><br /> Discente Voluntário em 2020</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top text-center">
                    <p class="text-muted">Atuação</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-1">
                            <span class="badge badge-danger">Documentação</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-secondary">Testes</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- end row -->

{% endblock %}
