{% extends 'base.html' %}

{% block content %}
  <h1>Teste</h1>
  {% if user.is_authenticated and user.is_medico %}
    Usuário é médico
  {% elif user.is_authenticated and user.is_assistente_social %}
    Usuário é Assistente social
  {% elif user.is_authenticated and user.is_nutricionista %}
    Usuário é Nutricionista
  {% else %}
    Não está autenticado. Entre pelo Admin até que seja implementado o login (ver vídeos no drive).
  {% endif %}

  <p>
    Façam os testes para entender como funciona e "limpem" os testes
    para implementar os casos de uso.
  </p>
{% endblock %}
